.map {
    position: absolute;
    width: 99%;
    height: 97.6%;
}

.requestDriverButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
  }

.locateDriversButton {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1001;
  }

  .leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}